<br>
<br>
<div class="edit_location_container">
    <h1 class="edit_location_title">Edit your GeeWord Location!</h1>


    <%= form_for @user do |f| %>
        <%= f.label :location %>
        <%= f.text_field :location %>
        <%= f.submit 'Update GeeLocation', :class => 'submit_button' %>
        <% end %>
</div>